<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dale Kowalskus - Classes and Students Log</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Index</a>
                </li>
                <li>
                    <a href="./classes.html">Classes</a>
                </li>
                <li>
                    <a href="./students.html">Students</a>
                </li>
                <li>
                    <a href="./classesStudentsDetails.html">classesStudentDetails</a>
                </li>
                <li>
                    <a href="./teachers.html">Teachers</a>
                </li>
                <li>
                    <a href="./reviews.html">Reviews</a>
                </li>
            </ul>
        </nav>
        <div>
            <h1>Classes and Students</h1>
            <p>Display a M:M Relationship between Classes and Students</p>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>classId</th>
                        <th>studentId</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in rows %}
                    <tr>
                      <td> {{ r.0 }}</td>
                      <td> {{ r[1] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            <br>
            <form action="" method="POST">
                <fieldset>
                    <legend>Add a New Student/Class Relationship</legend>
                    <!-- Student: <input type="text" name="studentId">  -->
                    Class: <select name="classId">
                        {% for c in classes %}
                            <option value="{{ c[0] }}">{{ c[2] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <!-- Teacher: <input type="text" name="teacherId"> -->
                    Student: <select name="studentId">
                        {% for s in students %}
                            <option value="{{ s[0] }}">{{ s[2], s[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" name="addButton" value="addButton">Add</button>
                </fieldset>
        </div>
</html>
           