<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Nasty's Classy Pub - Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>
            <h1>Index</h1>
            <p>This is the index page for the Pub Management System</p>
            <p>Follow the following links to see the rest of the static HTML pages</p>
        </div>
        <nav>
            <ul id="indexPage">
                <li>
                    <a id="indexLink" href="./restaurants.html">Restaurants</a>
                </li>
                <li>
                    <a id="indexLink" href="./menu.html">Menu</a>
                </li>
                <li>
                    <a id="indexLink" href="./employees.html">Employees</a>
                </li>
                <li>
                    <a id="indexLink" href="./jobs.html">Jobs</a>
                </li>
                <li>
                    <a id="indexLink" href="./employeesJobs.html">Employee Duties</a>
                </li>
            </ul>
        </nav>
    </body>
</html>