<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dale Kowalskus - Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>
            <h1>Index</h1>
            <p>This is the index page for the Schoolie McSchoolface Review System</p>
            <p>Follow the following links to see the rest of the static HTML pages</p>
        </div>
        <nav>
            <ul id="indexPage">
                <li>
                    <a id="indexLink" href="./classes.html">Classes</a>
                </li>
                <li>
                    <a id="indexLink" href="./students.html">Students</a>
                </li>
                <li>
                    <a id="indexLink" href="./classesStudentsDetails.html">classesStudentDetails</a>
                </li>
                <li>
                    <a id="indexLink" href="./teachers.html">Teachers</a>
                </li>
                <li>
                    <a id="indexLink" href="./reviews.html">Reviews</a>
                </li>
            </ul>
        </nav>
    </body>
</html>