<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dale Kowalskus - Reviews</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Index</a>
                </li>
                <li>
                    <a href="./classes.html">Classes</a>
                </li>
                <li>
                    <a href="./students.html">Students</a>
                </li>
                <li>
                    <a href="./classesStudentsDetails.html">classesStudentDetails</a>
                </li>
                <li>
                    <a href="./teachers.html">Teachers</a>
                </li>
                <li>
                    <a href="./reviews.html">Reviews</a>
                </li>
            </ul>
        </nav>
        <div>
            <h1>Reviews</h1>
            <p>Display Reviews in relation to Teachers and Students</p>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th><u>reviewId</u></th>
                        <th>reviewYear</th>
                        <th>reviewTerm</th>
                        <th>studentId</th>
                        <th>teacherId</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in rows %}
                    <tr>
                      <td> {{ r.0 }}</td>
                      <td> {{ r[1] }}</td>
                      <td> {{ r[2] }}</td>
                      <td> {{ r[3] }}</td>
                      <td> {{ r[4] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            <br>
            <form action="" method="POST">
                <fieldset>
                    <legend>Add a New Review</legend>
                    Year: <input type="text" name="year">
                    <br>
                    Term: <select type="text" name="term">
                        <option value="Fall"> Fall</option>
                        <option value="Winter"> Winter</option>
                        <option value="Spring"> Spring</option>
                        <option value="Summer"> Summer</option>
                    </select>
                    <br>
                    <!-- Student: <input type="text" name="studentId">  -->
                    Student: <select name="studentId">
                        {% for s in students %}
                            <option value="{{ s[0] }}">{{ s[2], s[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <!-- Teacher: <input type="text" name="teacherId"> -->
                    Teacher: <select name="teacherId">
                        {% for t in teachers %}
                            <option value="{{ t[0] }}">{{ t[2], t[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" name="addButton" value="addButton">Add</button>
                </fieldset>
            </form>
            <form action="" method="POST">
                <fieldset>
                    <legend>Update a Review by Associated ID</legend>
                    Review ID: <select name="reviewId">
                        {% for r in reviews %}
                            <option value="{{ r[0] }}">{{ r[0] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    Year: <input type="text" name="year">
                    <br>
                    Term: <select type="text" name="term">
                        <option value="Fall"> Fall</option>
                        <option value="Winter"> Winter</option>
                        <option value="Spring"> Spring</option>
                        <option value="Summer"> Summer</option>
                    </select>
                    <br>
                    <!-- Student: <input type="text" name="studentId">  -->
                    Student: <select name="studentId">
                        {% for s in students %}
                            <option value="{{ s[0] }}">{{ s[2], s[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <!-- Teacher: <input type="text" name="teacherId"> -->
                    Teacher: <select name="teacherId">
                        {% for t in teachers %}
                            <option value="{{ t[0] }}">{{ t[2], t[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" name="updateButton" value="updateButton">Update</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>